.clients{
  @include flex(space-evenly, center, row);
  height: 200px;
  width: 100vw;

  svg{
    max-width: 150px;
    width: 20vw;
    height: auto;
    min-width: 30px;
  }
}

.client-card{
  @include size(auto, auto);
  display: inline-block;
  margin: 0 100px;
}

.ticker{
  overflow: hidden;
  white-space: nowrap;
  line-height: 100px;
  width: 100vw;
  position: relative;
 }


@media screen and (max-width: 600px) {
  .clients{
    @include flex(flex-start, center, column);
    height: auto;
    svg{
      max-width: 150px;
      width: 100vw;
      height: auto;
      min-width: 80px;
      margin-bottom: 75px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .client-card{
    margin: 0 50px;
  }

}


@media screen and (max-width: 400px) {
  .clients{
    svg{
      width: 100px;
    }
  }
}
