.button {
  border: none;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  font-family: inherit;
  background-color: $primary-color;

  &:hover{
    background-color: darken($primary-color, 12px);
  }

  &.button-auto{
    margin: auto;
  }

  p, a{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: 0.75em 1.25em;
    text-decoration: none;
    color:white !important;
    white-space: nowrap;

    &:hover{
      color: white !important;
    }


  }


}

button {
  border: none;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  font-family: inherit;
  padding: 0.75em 1.25em;
  transition: 50ms ease-in box-shadow;
  background-color: $primary-color;
  color:white !important;

  &:hover{
    background-color: darken($primary-color, 12px);
  }

}

